# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Logs
logs/
*.log

# IDE files
.idea/
.vscode/
*.sublime-*

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific files
.DS_Store
Thumbs.db

# Application specific
instance/